.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

/* section metadata cards */
.custom-cards > .cards-wrapper {
    margin-top: -50px;
}
 
.custom-cards > .cards-wrapper > .cards > ul > li:hover  {
    background-color:#98a04a;
    color: white;
}
 
.custom-cards > .cards-wrapper > .cards > ul > li > cards-card-image {
    height:20px;
    width: 20px;
    padding: 20px 80px;
    background: none;
}
.custom-cards > .cards-wrapper {
    border-radius: 20px;
    border: transparent;
}
 
.custom-cards > .cards-wrapper > .cards > ul > li > .cards-card-body > p {
    text-align: center;
}
 
.cards-container > .default-content-wrapper > h2 {
    text-align: center;
}
.cards-container > .default-content-wrapper > .cards-wrapper > .cards {
    display:flex;
    justify-content: center;
    margin:0 auto;
}
